<div class = "register-wrapper">

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>
    <h1>Registro</h1>

      <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "E-mail" %>
      <%= f.password_field :password, autocomplete: "new-password", placeholder: "Senha" %>
      <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "Confirmação de senha" %>
      <%= f.text_field :nickname, placeholder: "Apelido" %>
      <%= f.file_field :avatar %>
      <%= f.hidden_field :avatar_cache %> 
      <%= f.submit "Enviar", class: 'btn btn-danger send-button'  %>
  <% end %>
</div>