<%= form_for(post) do |f| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class = "row">
    <div class = "col-4 offset-1">
      <%= f.text_field :title, class: 'title', placeholder: "Título da receita" %>
    </div>
  </div>
  <div class = "row mt-32">
    <div class = "col-4 offset-1">
      <p>Ingredientes</p>
      <%= f.text_area :ingredients, class: 'ingredients' %>
    </div>
    <div class = "col-4">
      <p>Preparo</p>
      <%= f.text_area :prepare, class: 'prepare' %>
    </div>
  </div>
  <div class = "row mt-32">
    <div class = "col">
    <p>Imagem da receita</p>
     <%= f.file_field :picture %>
    </div>
  </div>
  <div class = "row mt-32">
    <div class = "col">
    <%= f.label 'Categoria' %>
    <%= f.select :category_id, Category.where.not(id: 4).collect { |category| [category.name, category.id] } %>
    </div>
  </div>

  <%= f.hidden_field :user_id, value: current_user.id %>

  <%= f.submit 'ENVIAR', class: 'btn btn-danger' %>
  
<% end %>
